/* level 1 */

.htt,
.https span {
    color: red;
}

.link {
    background-color: green;
}

.lorem {
    font-size: 24px;
}

/* level 2 */

h3:nth-child(1) {
    color: pink;
}
#greycol  {
    color: gray;
}

.text-box div p {
    color: red;
}

div ~ h3 ~ p {
    color: green;
}

.yellow {
    color: yellow;
}
 

/* level 3 */

.bg-box {
    width: 1500px;
    height: 800px;
    background: green;
    background-image: url('/img/pole-zelen-trava-dom-derevya.jpg'),
     url('/img/grass-png-images-pictures-transparent-28.png'),
     url('/img/lamp-png-0.png'),
     url('/img/58eb07b830eab15b56162788.png'),
     url('/img/Squirrel_PNG_Clipart-64.png');
    background-repeat: no-repeat, repeat-x, repeat-x,repeat-y, repeat-y;
    background-size: 450px, 170px, 40px, 50px, 50px;
    background-position: center, bottom, top, right, left;
}
